<h1>Editing state</h1>

<%= render 'form' %>

<%= button_to 'Show', @state, :class => 'clean-gray' %>
<%= button_to 'Back',  {:controller => "pages", :action => "show", :id => @page_id}, :class => 'clean-gray' %>
