		<div style="clear: both;">&nbsp;</div>
		<div class="entry">
			<h2 class="title"><a href="#">Welcome to WikiTracker </a></h2>
			<p>This is <strong>WikiTracker </strong>, a free Wiki.</p>
			<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.</p>
			<%= link_to 'Projecto 1', :controller => "projects", :action => "get_related_pages", :id => 1 %>
		</div>
	<p class="meta"><span class="date"><a href="#">View Comments</a></span><span class="posted">Last edited by <a href="#">joaocorreia</a> at November 7, 2011</span></p>	
	</div>
	<div style="clear: both;">&nbsp;</div>
</div>
