<div id="content">
	<div class="post">
		<div style="clear: both;">&nbsp;</div>
		<div class="entry">
			<h2 class="title"><a href="#">Welcome to WikiTracker </a></h2>
			<p>This is <strong>WikiTracker </strong>, a free Wiki.</p>
			<p>WikiTracker is a simple wiki engine written in Rails 3.1. WikiTracker aims at simplifying the development process, namely the communication between the several parties involved. </p>
	<%= button_to 'Create Project', {:controller => "projects", :action => "new"}, :class => 'clean-gray' %>
		</div>

	</div>
</div>
