<h1>Editing User story</h1>

<%= render 'form' %>

<%= button_to 'Show', @user_story, :class=> 'clean-gray' %>
<%= button_to 'Back', { :controller => "user_stories", :action => "getByProject", :id => @user_story.project_id}, :class=> 'clean-gray' %>
